<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dao.CmarketingRecordMapper">
  <resultMap id="BaseResultMap" type="com.inspur.bean.CmarketingRecord">
    <id column="C_KEY" jdbcType="INTEGER" property="cKey" />
    <result column="C_CM_ID" jdbcType="INTEGER" property="cCmId" />
    <result column="C_NAME" jdbcType="VARCHAR" property="cName" />
    <result column="C_MANAGEMENT" jdbcType="VARCHAR" property="cManagement" />
    <result column="C_DEMAND" jdbcType="VARCHAR" property="cDemand" />
    <result column="C_REPORT" jdbcType="VARCHAR" property="cReport" />
    <result column="C_TESTIMONIALS" jdbcType="VARCHAR" property="cTestimonials" />
    <result column="C_EVALUATION" jdbcType="VARCHAR" property="cEvaluation" />
    <result column="C_DATE" jdbcType="VARCHAR" property="cDate" />
    <result column="C_ID" jdbcType="INTEGER" property="cId" />
    <result column="C_REMARKS" jdbcType="VARCHAR" property="cRemarks" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    C_KEY, C_CM_ID, C_NAME, C_MANAGEMENT, C_DEMAND, C_REPORT, C_TESTIMONIALS, C_EVALUATION, 
    C_DATE, C_ID, C_REMARKS, DEL_FLAG
  </sql>
  <select id="selectByExample" parameterType="com.inspur.bean.CmarketingRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gzcrm_cmarketing_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gzcrm_cmarketing_record
    where C_KEY = #{cKey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gzcrm_cmarketing_record
    where C_KEY = #{cKey,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.inspur.bean.CmarketingRecordExample">
    delete from gzcrm_cmarketing_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.inspur.bean.CmarketingRecord">
    insert into gzcrm_cmarketing_record (C_KEY, C_CM_ID, C_NAME, 
      C_MANAGEMENT, C_DEMAND, C_REPORT, 
      C_TESTIMONIALS, C_EVALUATION, C_DATE, 
      C_ID, C_REMARKS, DEL_FLAG
      )
    values (#{cKey,jdbcType=INTEGER}, #{cCmId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR},
      #{cManagement,jdbcType=VARCHAR}, #{cDemand,jdbcType=VARCHAR}, #{cReport,jdbcType=VARCHAR}, 
      #{cTestimonials,jdbcType=VARCHAR}, #{cEvaluation,jdbcType=VARCHAR}, #{cDate,jdbcType=VARCHAR}, 
      #{cId,jdbcType=INTEGER}, #{cRemarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.inspur.bean.CmarketingRecord">
    insert into gzcrm_cmarketing_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cKey != null">
        C_KEY,
      </if>
      <if test="cCmId != null">
        C_CM_ID,
      </if>
      <if test="cName != null">
        C_NAME,
      </if>
      <if test="cManagement != null">
        C_MANAGEMENT,
      </if>
      <if test="cDemand != null">
        C_DEMAND,
      </if>
      <if test="cReport != null">
        C_REPORT,
      </if>
      <if test="cTestimonials != null">
        C_TESTIMONIALS,
      </if>
      <if test="cEvaluation != null">
        C_EVALUATION,
      </if>
      <if test="cDate != null">
        C_DATE,
      </if>
      <if test="cId != null">
        C_ID,
      </if>
      <if test="cRemarks != null">
        C_REMARKS,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cKey != null">
        #{cKey,jdbcType=INTEGER},
      </if>
      <if test="cCmId != null">
        #{cCmId,jdbcType=INTEGER},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cManagement != null">
        #{cManagement,jdbcType=VARCHAR},
      </if>
      <if test="cDemand != null">
        #{cDemand,jdbcType=VARCHAR},
      </if>
      <if test="cReport != null">
        #{cReport,jdbcType=VARCHAR},
      </if>
      <if test="cTestimonials != null">
        #{cTestimonials,jdbcType=VARCHAR},
      </if>
      <if test="cEvaluation != null">
        #{cEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        #{cDate,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cRemarks != null">
        #{cRemarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.inspur.bean.CmarketingRecordExample" resultType="java.lang.Long">
    select count(*) from gzcrm_cmarketing_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gzcrm_cmarketing_record
    <set>
      <if test="record.cKey != null">
        C_KEY = #{record.cKey,jdbcType=INTEGER},
      </if>
      <if test="record.cCmId != null">
        C_CM_ID = #{record.cCmId,jdbcType=INTEGER},
      </if>
      <if test="record.cName != null">
        C_NAME = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cManagement != null">
        C_MANAGEMENT = #{record.cManagement,jdbcType=VARCHAR},
      </if>
      <if test="record.cDemand != null">
        C_DEMAND = #{record.cDemand,jdbcType=VARCHAR},
      </if>
      <if test="record.cReport != null">
        C_REPORT = #{record.cReport,jdbcType=VARCHAR},
      </if>
      <if test="record.cTestimonials != null">
        C_TESTIMONIALS = #{record.cTestimonials,jdbcType=VARCHAR},
      </if>
      <if test="record.cEvaluation != null">
        C_EVALUATION = #{record.cEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="record.cDate != null">
        C_DATE = #{record.cDate,jdbcType=VARCHAR},
      </if>
      <if test="record.cId != null">
        C_ID = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cRemarks != null">
        C_REMARKS = #{record.cRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gzcrm_cmarketing_record
    set C_KEY = #{record.cKey,jdbcType=INTEGER},
      C_CM_ID = #{record.cCmId,jdbcType=INTEGER},
      C_NAME = #{record.cName,jdbcType=VARCHAR},
      C_MANAGEMENT = #{record.cManagement,jdbcType=VARCHAR},
      C_DEMAND = #{record.cDemand,jdbcType=VARCHAR},
      C_REPORT = #{record.cReport,jdbcType=VARCHAR},
      C_TESTIMONIALS = #{record.cTestimonials,jdbcType=VARCHAR},
      C_EVALUATION = #{record.cEvaluation,jdbcType=VARCHAR},
      C_DATE = #{record.cDate,jdbcType=VARCHAR},
      C_ID = #{record.cId,jdbcType=INTEGER},
      C_REMARKS = #{record.cRemarks,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.inspur.bean.CmarketingRecord">
    update gzcrm_cmarketing_record
    <set>
      <if test="cCmId != null">
        C_CM_ID = #{cCmId,jdbcType=INTEGER},
      </if>
      <if test="cName != null">
        C_NAME = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cManagement != null">
        C_MANAGEMENT = #{cManagement,jdbcType=VARCHAR},
      </if>
      <if test="cDemand != null">
        C_DEMAND = #{cDemand,jdbcType=VARCHAR},
      </if>
      <if test="cReport != null">
        C_REPORT = #{cReport,jdbcType=VARCHAR},
      </if>
      <if test="cTestimonials != null">
        C_TESTIMONIALS = #{cTestimonials,jdbcType=VARCHAR},
      </if>
      <if test="cEvaluation != null">
        C_EVALUATION = #{cEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="cDate != null">
        C_DATE = #{cDate,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        C_ID = #{cId,jdbcType=INTEGER},
      </if>
      <if test="cRemarks != null">
        C_REMARKS = #{cRemarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where C_KEY = #{cKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inspur.bean.CmarketingRecord">
    update gzcrm_cmarketing_record
    set C_CM_ID = #{cCmId,jdbcType=INTEGER},
      C_NAME = #{cName,jdbcType=VARCHAR},
      C_MANAGEMENT = #{cManagement,jdbcType=VARCHAR},
      C_DEMAND = #{cDemand,jdbcType=VARCHAR},
      C_REPORT = #{cReport,jdbcType=VARCHAR},
      C_TESTIMONIALS = #{cTestimonials,jdbcType=VARCHAR},
      C_EVALUATION = #{cEvaluation,jdbcType=VARCHAR},
      C_DATE = #{cDate,jdbcType=VARCHAR},
      C_ID = #{cId,jdbcType=INTEGER},
      C_REMARKS = #{cRemarks,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=CHAR}
    where C_KEY = #{cKey,jdbcType=INTEGER}
  </update>
</mapper>