<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dao.CmassMapper">
  <resultMap id="BaseResultMap" type="com.inspur.bean.Cmass">
    <id column="CM_KEY" jdbcType="INTEGER" property="cmKey" />
    <result column="CM_ID" jdbcType="INTEGER" property="cmId" />
    <result column="CM_ASSTIME" jdbcType="VARCHAR" property="cmAsstime" />
    <result column="CM_ASSUB" jdbcType="VARCHAR" property="cmAssub" />
    <result column="CM_ASSPERIOD" jdbcType="VARCHAR" property="cmAssperiod" />
    <result column="CM_ASSRESULT" jdbcType="VARCHAR" property="cmAssresult" />
    <result column="CM_APPRAISAL" jdbcType="VARCHAR" property="cmAppraisal" />
    <result column="CM_ASSUNIT" jdbcType="VARCHAR" property="cmAssunit" />
    <result column="CM_REMARK" jdbcType="VARCHAR" property="cmRemark" />
    <result column="CM_ATTACHMENT" jdbcType="VARCHAR" property="cmAttachment" />
    <result column="CM_MODIFICATION_PERSON" jdbcType="VARCHAR" property="cmModificationPerson" />
    <result column="CM_MODIFICATION_DATE" jdbcType="VARCHAR" property="cmModificationDate" />
    <result column="CM_REMARKS" jdbcType="VARCHAR" property="cmRemarks" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CM_KEY, CM_ID, CM_ASSTIME, CM_ASSUB, CM_ASSPERIOD, CM_ASSRESULT, CM_APPRAISAL, CM_ASSUNIT, 
    CM_REMARK, CM_ATTACHMENT, CM_MODIFICATION_PERSON, CM_MODIFICATION_DATE, CM_REMARKS, 
    DEL_FLAG
  </sql>
  <select id="selectByExample" parameterType="com.inspur.bean.CmassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gzcrm_cmass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gzcrm_cmass
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gzcrm_cmass
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.inspur.bean.CmassExample">
    delete from gzcrm_cmass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.inspur.bean.Cmass">
    insert into gzcrm_cmass (CM_KEY, CM_ID, CM_ASSTIME, 
      CM_ASSUB, CM_ASSPERIOD, CM_ASSRESULT, 
      CM_APPRAISAL, CM_ASSUNIT, CM_REMARK, 
      CM_ATTACHMENT, CM_MODIFICATION_PERSON, CM_MODIFICATION_DATE, 
      CM_REMARKS, DEL_FLAG)
    values (#{cmKey,jdbcType=INTEGER}, #{cmId,jdbcType=INTEGER}, #{cmAsstime,jdbcType=VARCHAR},
      #{cmAssub,jdbcType=VARCHAR}, #{cmAssperiod,jdbcType=VARCHAR}, #{cmAssresult,jdbcType=VARCHAR}, 
      #{cmAppraisal,jdbcType=VARCHAR}, #{cmAssunit,jdbcType=VARCHAR}, #{cmRemark,jdbcType=VARCHAR}, 
      #{cmAttachment,jdbcType=VARCHAR}, #{cmModificationPerson,jdbcType=VARCHAR}, #{cmModificationDate,jdbcType=VARCHAR}, 
      #{cmRemarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.inspur.bean.Cmass">
    insert into gzcrm_cmass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cmKey != null">
        CM_KEY,
      </if>
      <if test="cmId != null">
        CM_ID,
      </if>
      <if test="cmAsstime != null">
        CM_ASSTIME,
      </if>
      <if test="cmAssub != null">
        CM_ASSUB,
      </if>
      <if test="cmAssperiod != null">
        CM_ASSPERIOD,
      </if>
      <if test="cmAssresult != null">
        CM_ASSRESULT,
      </if>
      <if test="cmAppraisal != null">
        CM_APPRAISAL,
      </if>
      <if test="cmAssunit != null">
        CM_ASSUNIT,
      </if>
      <if test="cmRemark != null">
        CM_REMARK,
      </if>
      <if test="cmAttachment != null">
        CM_ATTACHMENT,
      </if>
      <if test="cmModificationPerson != null">
        CM_MODIFICATION_PERSON,
      </if>
      <if test="cmModificationDate != null">
        CM_MODIFICATION_DATE,
      </if>
      <if test="cmRemarks != null">
        CM_REMARKS,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cmKey != null">
        #{cmKey,jdbcType=INTEGER},
      </if>
      <if test="cmId != null">
        #{cmId,jdbcType=INTEGER},
      </if>
      <if test="cmAsstime != null">
        #{cmAsstime,jdbcType=VARCHAR},
      </if>
      <if test="cmAssub != null">
        #{cmAssub,jdbcType=VARCHAR},
      </if>
      <if test="cmAssperiod != null">
        #{cmAssperiod,jdbcType=VARCHAR},
      </if>
      <if test="cmAssresult != null">
        #{cmAssresult,jdbcType=VARCHAR},
      </if>
      <if test="cmAppraisal != null">
        #{cmAppraisal,jdbcType=VARCHAR},
      </if>
      <if test="cmAssunit != null">
        #{cmAssunit,jdbcType=VARCHAR},
      </if>
      <if test="cmRemark != null">
        #{cmRemark,jdbcType=VARCHAR},
      </if>
      <if test="cmAttachment != null">
        #{cmAttachment,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationPerson != null">
        #{cmModificationPerson,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationDate != null">
        #{cmModificationDate,jdbcType=VARCHAR},
      </if>
      <if test="cmRemarks != null">
        #{cmRemarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.inspur.bean.CmassExample" resultType="java.lang.Long">
    select count(*) from gzcrm_cmass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gzcrm_cmass
    <set>
      <if test="record.cmKey != null">
        CM_KEY = #{record.cmKey,jdbcType=INTEGER},
      </if>
      <if test="record.cmId != null">
        CM_ID = #{record.cmId,jdbcType=INTEGER},
      </if>
      <if test="record.cmAsstime != null">
        CM_ASSTIME = #{record.cmAsstime,jdbcType=VARCHAR},
      </if>
      <if test="record.cmAssub != null">
        CM_ASSUB = #{record.cmAssub,jdbcType=VARCHAR},
      </if>
      <if test="record.cmAssperiod != null">
        CM_ASSPERIOD = #{record.cmAssperiod,jdbcType=VARCHAR},
      </if>
      <if test="record.cmAssresult != null">
        CM_ASSRESULT = #{record.cmAssresult,jdbcType=VARCHAR},
      </if>
      <if test="record.cmAppraisal != null">
        CM_APPRAISAL = #{record.cmAppraisal,jdbcType=VARCHAR},
      </if>
      <if test="record.cmAssunit != null">
        CM_ASSUNIT = #{record.cmAssunit,jdbcType=VARCHAR},
      </if>
      <if test="record.cmRemark != null">
        CM_REMARK = #{record.cmRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.cmAttachment != null">
        CM_ATTACHMENT = #{record.cmAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.cmModificationPerson != null">
        CM_MODIFICATION_PERSON = #{record.cmModificationPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.cmModificationDate != null">
        CM_MODIFICATION_DATE = #{record.cmModificationDate,jdbcType=VARCHAR},
      </if>
      <if test="record.cmRemarks != null">
        CM_REMARKS = #{record.cmRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gzcrm_cmass
    set CM_KEY = #{record.cmKey,jdbcType=INTEGER},
      CM_ID = #{record.cmId,jdbcType=INTEGER},
      CM_ASSTIME = #{record.cmAsstime,jdbcType=VARCHAR},
      CM_ASSUB = #{record.cmAssub,jdbcType=VARCHAR},
      CM_ASSPERIOD = #{record.cmAssperiod,jdbcType=VARCHAR},
      CM_ASSRESULT = #{record.cmAssresult,jdbcType=VARCHAR},
      CM_APPRAISAL = #{record.cmAppraisal,jdbcType=VARCHAR},
      CM_ASSUNIT = #{record.cmAssunit,jdbcType=VARCHAR},
      CM_REMARK = #{record.cmRemark,jdbcType=VARCHAR},
      CM_ATTACHMENT = #{record.cmAttachment,jdbcType=VARCHAR},
      CM_MODIFICATION_PERSON = #{record.cmModificationPerson,jdbcType=VARCHAR},
      CM_MODIFICATION_DATE = #{record.cmModificationDate,jdbcType=VARCHAR},
      CM_REMARKS = #{record.cmRemarks,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.inspur.bean.Cmass">
    update gzcrm_cmass
    <set>
      <if test="cmId != null">
        CM_ID = #{cmId,jdbcType=INTEGER},
      </if>
      <if test="cmAsstime != null">
        CM_ASSTIME = #{cmAsstime,jdbcType=VARCHAR},
      </if>
      <if test="cmAssub != null">
        CM_ASSUB = #{cmAssub,jdbcType=VARCHAR},
      </if>
      <if test="cmAssperiod != null">
        CM_ASSPERIOD = #{cmAssperiod,jdbcType=VARCHAR},
      </if>
      <if test="cmAssresult != null">
        CM_ASSRESULT = #{cmAssresult,jdbcType=VARCHAR},
      </if>
      <if test="cmAppraisal != null">
        CM_APPRAISAL = #{cmAppraisal,jdbcType=VARCHAR},
      </if>
      <if test="cmAssunit != null">
        CM_ASSUNIT = #{cmAssunit,jdbcType=VARCHAR},
      </if>
      <if test="cmRemark != null">
        CM_REMARK = #{cmRemark,jdbcType=VARCHAR},
      </if>
      <if test="cmAttachment != null">
        CM_ATTACHMENT = #{cmAttachment,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationPerson != null">
        CM_MODIFICATION_PERSON = #{cmModificationPerson,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationDate != null">
        CM_MODIFICATION_DATE = #{cmModificationDate,jdbcType=VARCHAR},
      </if>
      <if test="cmRemarks != null">
        CM_REMARKS = #{cmRemarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inspur.bean.Cmass">
    update gzcrm_cmass
    set CM_ID = #{cmId,jdbcType=INTEGER},
      CM_ASSTIME = #{cmAsstime,jdbcType=VARCHAR},
      CM_ASSUB = #{cmAssub,jdbcType=VARCHAR},
      CM_ASSPERIOD = #{cmAssperiod,jdbcType=VARCHAR},
      CM_ASSRESULT = #{cmAssresult,jdbcType=VARCHAR},
      CM_APPRAISAL = #{cmAppraisal,jdbcType=VARCHAR},
      CM_ASSUNIT = #{cmAssunit,jdbcType=VARCHAR},
      CM_REMARK = #{cmRemark,jdbcType=VARCHAR},
      CM_ATTACHMENT = #{cmAttachment,jdbcType=VARCHAR},
      CM_MODIFICATION_PERSON = #{cmModificationPerson,jdbcType=VARCHAR},
      CM_MODIFICATION_DATE = #{cmModificationDate,jdbcType=VARCHAR},
      CM_REMARKS = #{cmRemarks,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=CHAR}
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </update>
</mapper>