<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.dao.CmltrMapper">
  <resultMap id="BaseResultMap" type="com.inspur.bean.Cmltr">
    <id column="CM_KEY" jdbcType="INTEGER" property="cmKey" />
    <result column="CM_ID" jdbcType="INTEGER" property="cmId" />
    <result column="CM_TDATE" jdbcType="VARCHAR" property="cmTdate" />
    <result column="CM_SUB" jdbcType="VARCHAR" property="cmSub" />
    <result column="CM_TUNIT" jdbcType="VARCHAR" property="cmTunit" />
    <result column="CM_STARTDATE" jdbcType="VARCHAR" property="cmStartdate" />
    <result column="CM_ENDDATE" jdbcType="VARCHAR" property="cmEnddate" />
    <result column="CM_KNOW" jdbcType="VARCHAR" property="cmKnow" />
    <result column="CM_CREDIT" jdbcType="INTEGER" property="cmCredit" />
    <result column="CM_SCORE" jdbcType="DECIMAL" property="cmScore" />
    <result column="CM_ATTACHMENT" jdbcType="VARCHAR" property="cmAttachment" />
    <result column="CM_REMARK" jdbcType="VARCHAR" property="cmRemark" />
    <result column="CM_MODIFICATION_DATE" jdbcType="VARCHAR" property="cmModificationDate" />
    <result column="CM_MODIFICATION_PERSON" jdbcType="VARCHAR" property="cmModificationPerson" />
    <result column="CM_REMARKS" jdbcType="VARCHAR" property="cmRemarks" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CM_KEY, CM_ID, CM_TDATE, CM_SUB, CM_TUNIT, CM_STARTDATE, CM_ENDDATE, CM_KNOW, CM_CREDIT, 
    CM_SCORE, CM_ATTACHMENT, CM_REMARK, CM_MODIFICATION_DATE, CM_MODIFICATION_PERSON, 
    CM_REMARKS, DEL_FLAG
  </sql>
  <select id="selectByExample" parameterType="com.inspur.bean.CmltrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gzcrm_cmltr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gzcrm_cmltr
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gzcrm_cmltr
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.inspur.bean.CmltrExample">
    delete from gzcrm_cmltr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.inspur.bean.Cmltr">
    insert into gzcrm_cmltr (CM_KEY, CM_ID, CM_TDATE, 
      CM_SUB, CM_TUNIT, CM_STARTDATE, 
      CM_ENDDATE, CM_KNOW, CM_CREDIT, 
      CM_SCORE, CM_ATTACHMENT, CM_REMARK, 
      CM_MODIFICATION_DATE, CM_MODIFICATION_PERSON, 
      CM_REMARKS, DEL_FLAG)
    values (#{cmKey,jdbcType=INTEGER}, #{cmId,jdbcType=INTEGER}, #{cmTdate,jdbcType=VARCHAR},
      #{cmSub,jdbcType=VARCHAR}, #{cmTunit,jdbcType=VARCHAR}, #{cmStartdate,jdbcType=VARCHAR}, 
      #{cmEnddate,jdbcType=VARCHAR}, #{cmKnow,jdbcType=VARCHAR}, #{cmCredit,jdbcType=INTEGER}, 
      #{cmScore,jdbcType=DECIMAL}, #{cmAttachment,jdbcType=VARCHAR}, #{cmRemark,jdbcType=VARCHAR}, 
      #{cmModificationDate,jdbcType=VARCHAR}, #{cmModificationPerson,jdbcType=VARCHAR}, 
      #{cmRemarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.inspur.bean.Cmltr">
    insert into gzcrm_cmltr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cmKey != null">
        CM_KEY,
      </if>
      <if test="cmId != null">
        CM_ID,
      </if>
      <if test="cmTdate != null">
        CM_TDATE,
      </if>
      <if test="cmSub != null">
        CM_SUB,
      </if>
      <if test="cmTunit != null">
        CM_TUNIT,
      </if>
      <if test="cmStartdate != null">
        CM_STARTDATE,
      </if>
      <if test="cmEnddate != null">
        CM_ENDDATE,
      </if>
      <if test="cmKnow != null">
        CM_KNOW,
      </if>
      <if test="cmCredit != null">
        CM_CREDIT,
      </if>
      <if test="cmScore != null">
        CM_SCORE,
      </if>
      <if test="cmAttachment != null">
        CM_ATTACHMENT,
      </if>
      <if test="cmRemark != null">
        CM_REMARK,
      </if>
      <if test="cmModificationDate != null">
        CM_MODIFICATION_DATE,
      </if>
      <if test="cmModificationPerson != null">
        CM_MODIFICATION_PERSON,
      </if>
      <if test="cmRemarks != null">
        CM_REMARKS,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cmKey != null">
        #{cmKey,jdbcType=INTEGER},
      </if>
      <if test="cmId != null">
        #{cmId,jdbcType=INTEGER},
      </if>
      <if test="cmTdate != null">
        #{cmTdate,jdbcType=VARCHAR},
      </if>
      <if test="cmSub != null">
        #{cmSub,jdbcType=VARCHAR},
      </if>
      <if test="cmTunit != null">
        #{cmTunit,jdbcType=VARCHAR},
      </if>
      <if test="cmStartdate != null">
        #{cmStartdate,jdbcType=VARCHAR},
      </if>
      <if test="cmEnddate != null">
        #{cmEnddate,jdbcType=VARCHAR},
      </if>
      <if test="cmKnow != null">
        #{cmKnow,jdbcType=VARCHAR},
      </if>
      <if test="cmCredit != null">
        #{cmCredit,jdbcType=INTEGER},
      </if>
      <if test="cmScore != null">
        #{cmScore,jdbcType=DECIMAL},
      </if>
      <if test="cmAttachment != null">
        #{cmAttachment,jdbcType=VARCHAR},
      </if>
      <if test="cmRemark != null">
        #{cmRemark,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationDate != null">
        #{cmModificationDate,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationPerson != null">
        #{cmModificationPerson,jdbcType=VARCHAR},
      </if>
      <if test="cmRemarks != null">
        #{cmRemarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.inspur.bean.CmltrExample" resultType="java.lang.Long">
    select count(*) from gzcrm_cmltr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gzcrm_cmltr
    <set>
      <if test="record.cmKey != null">
        CM_KEY = #{record.cmKey,jdbcType=INTEGER},
      </if>
      <if test="record.cmId != null">
        CM_ID = #{record.cmId,jdbcType=INTEGER},
      </if>
      <if test="record.cmTdate != null">
        CM_TDATE = #{record.cmTdate,jdbcType=VARCHAR},
      </if>
      <if test="record.cmSub != null">
        CM_SUB = #{record.cmSub,jdbcType=VARCHAR},
      </if>
      <if test="record.cmTunit != null">
        CM_TUNIT = #{record.cmTunit,jdbcType=VARCHAR},
      </if>
      <if test="record.cmStartdate != null">
        CM_STARTDATE = #{record.cmStartdate,jdbcType=VARCHAR},
      </if>
      <if test="record.cmEnddate != null">
        CM_ENDDATE = #{record.cmEnddate,jdbcType=VARCHAR},
      </if>
      <if test="record.cmKnow != null">
        CM_KNOW = #{record.cmKnow,jdbcType=VARCHAR},
      </if>
      <if test="record.cmCredit != null">
        CM_CREDIT = #{record.cmCredit,jdbcType=INTEGER},
      </if>
      <if test="record.cmScore != null">
        CM_SCORE = #{record.cmScore,jdbcType=DECIMAL},
      </if>
      <if test="record.cmAttachment != null">
        CM_ATTACHMENT = #{record.cmAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.cmRemark != null">
        CM_REMARK = #{record.cmRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.cmModificationDate != null">
        CM_MODIFICATION_DATE = #{record.cmModificationDate,jdbcType=VARCHAR},
      </if>
      <if test="record.cmModificationPerson != null">
        CM_MODIFICATION_PERSON = #{record.cmModificationPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.cmRemarks != null">
        CM_REMARKS = #{record.cmRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gzcrm_cmltr
    set CM_KEY = #{record.cmKey,jdbcType=INTEGER},
      CM_ID = #{record.cmId,jdbcType=INTEGER},
      CM_TDATE = #{record.cmTdate,jdbcType=VARCHAR},
      CM_SUB = #{record.cmSub,jdbcType=VARCHAR},
      CM_TUNIT = #{record.cmTunit,jdbcType=VARCHAR},
      CM_STARTDATE = #{record.cmStartdate,jdbcType=VARCHAR},
      CM_ENDDATE = #{record.cmEnddate,jdbcType=VARCHAR},
      CM_KNOW = #{record.cmKnow,jdbcType=VARCHAR},
      CM_CREDIT = #{record.cmCredit,jdbcType=INTEGER},
      CM_SCORE = #{record.cmScore,jdbcType=DECIMAL},
      CM_ATTACHMENT = #{record.cmAttachment,jdbcType=VARCHAR},
      CM_REMARK = #{record.cmRemark,jdbcType=VARCHAR},
      CM_MODIFICATION_DATE = #{record.cmModificationDate,jdbcType=VARCHAR},
      CM_MODIFICATION_PERSON = #{record.cmModificationPerson,jdbcType=VARCHAR},
      CM_REMARKS = #{record.cmRemarks,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.inspur.bean.Cmltr">
    update gzcrm_cmltr
    <set>
      <if test="cmId != null">
        CM_ID = #{cmId,jdbcType=INTEGER},
      </if>
      <if test="cmTdate != null">
        CM_TDATE = #{cmTdate,jdbcType=VARCHAR},
      </if>
      <if test="cmSub != null">
        CM_SUB = #{cmSub,jdbcType=VARCHAR},
      </if>
      <if test="cmTunit != null">
        CM_TUNIT = #{cmTunit,jdbcType=VARCHAR},
      </if>
      <if test="cmStartdate != null">
        CM_STARTDATE = #{cmStartdate,jdbcType=VARCHAR},
      </if>
      <if test="cmEnddate != null">
        CM_ENDDATE = #{cmEnddate,jdbcType=VARCHAR},
      </if>
      <if test="cmKnow != null">
        CM_KNOW = #{cmKnow,jdbcType=VARCHAR},
      </if>
      <if test="cmCredit != null">
        CM_CREDIT = #{cmCredit,jdbcType=INTEGER},
      </if>
      <if test="cmScore != null">
        CM_SCORE = #{cmScore,jdbcType=DECIMAL},
      </if>
      <if test="cmAttachment != null">
        CM_ATTACHMENT = #{cmAttachment,jdbcType=VARCHAR},
      </if>
      <if test="cmRemark != null">
        CM_REMARK = #{cmRemark,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationDate != null">
        CM_MODIFICATION_DATE = #{cmModificationDate,jdbcType=VARCHAR},
      </if>
      <if test="cmModificationPerson != null">
        CM_MODIFICATION_PERSON = #{cmModificationPerson,jdbcType=VARCHAR},
      </if>
      <if test="cmRemarks != null">
        CM_REMARKS = #{cmRemarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inspur.bean.Cmltr">
    update gzcrm_cmltr
    set CM_ID = #{cmId,jdbcType=INTEGER},
      CM_TDATE = #{cmTdate,jdbcType=VARCHAR},
      CM_SUB = #{cmSub,jdbcType=VARCHAR},
      CM_TUNIT = #{cmTunit,jdbcType=VARCHAR},
      CM_STARTDATE = #{cmStartdate,jdbcType=VARCHAR},
      CM_ENDDATE = #{cmEnddate,jdbcType=VARCHAR},
      CM_KNOW = #{cmKnow,jdbcType=VARCHAR},
      CM_CREDIT = #{cmCredit,jdbcType=INTEGER},
      CM_SCORE = #{cmScore,jdbcType=DECIMAL},
      CM_ATTACHMENT = #{cmAttachment,jdbcType=VARCHAR},
      CM_REMARK = #{cmRemark,jdbcType=VARCHAR},
      CM_MODIFICATION_DATE = #{cmModificationDate,jdbcType=VARCHAR},
      CM_MODIFICATION_PERSON = #{cmModificationPerson,jdbcType=VARCHAR},
      CM_REMARKS = #{cmRemarks,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=CHAR}
    where CM_KEY = #{cmKey,jdbcType=INTEGER}
  </update>
</mapper>